<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Hive.WpfGui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="HiveEntities" connectionString="metadata=res://*/HiveModel.csdl|res://*/HiveModel.ssdl|res://*/HiveModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;attachdbfilename=|DataDirectory|\HiveDb.mdf;integrated security=True;user instance=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <userSettings>
    <Hive.WpfGui.Properties.Settings>
      <setting name="UseLocalConnection" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WebServiceUrl" serializeAs="String">
        <value>http://localhost:8732/HiveServiceLibrary/HiveService/</value>
      </setting>
    </Hive.WpfGui.Properties.Settings>
  </userSettings>
</configuration>